In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [20]:
df1 = pd.read_excel('./CMIE_Data/CMIE_Aspirational_India.xlsx', '2021-0901')
df2 = pd.read_excel('./CMIE_Data/CMIE_Aspirational_India.xlsx', '2020-0501')
df3 = pd.read_excel('./CMIE_Data/CMIE_Aspirational_India.xlsx', '2019-0101')
df4 = pd.read_excel('./CMIE_Data/CMIE_Aspirational_India.xlsx', '2018-0901')
df5 = pd.read_excel('./CMIE_Data/CMIE_Aspirational_India.xlsx', '2017-0901')
df6 = pd.read_excel('./CMIE_Data/CMIE_Aspirational_India.xlsx', '2017-0501')
df7 = pd.read_excel('./CMIE_Data/CMIE_Aspirational_India.xlsx', '2017-0101')

In [21]:
df5['HH_ID'].equals(df6['HH_ID'])

False

In [22]:
df6.loc[~df6['HH_ID'].isin(df1['HH_ID'].tolist())]

,WAVE_NO,HH_ID,STATE,HR,DISTRICT,REGION_TYPE,STRATUM,PSU_ID,MONTH_SLOT,RESPONSE_STATUS,...,IS_THIS_GOOD_TIME_TO_BUY_CONSUMER_DURABLES,TYPE_OF_ROOF,TYPE_OF_WALL,HAS_ACCESS_TO_ELECTRICITY,POWER_AVAILABILITY_IN_HOURS_PER_DAY,HAS_ACCESS_TO_WATER_IN_HOUSE,WATER_AVAILABILITY_IN_DAYS_PER_WEEK,WATER_AVAILABILITY_IN_HOURS_PER_DAY,HAS_TOILET_IN_HOUSE,TIME_TO_TRAVEL_TEN_KMS
2,11,94992536,West Bengal,HR 87,South 24 Parganas,URBAN,HR 87_URBAN_L,PSU_ID_6708,42917,Non-Response,...,Data Not Available,Data Not Available,Data Not Available,Data Not Available,-99,Data Not Available,-99,-99,Data Not Available,-99
5,11,51955731,West Bengal,HR 87,South 24 Parganas,URBAN,HR 87_URBAN_L,PSU_ID_6708,42917,Non-Response,...,Data Not Available,Data Not Available,Data Not Available,Data Not Available,-99,Data Not Available,-99,-99,Data Not Available,-99
12,11,18797020,West Bengal,HR 87,South 24 Parganas,URBAN,HR 87_URBAN_L,PSU_ID_6708,42917,Accepted,...,Good time,Hand made tiles,Burnt brick,Y,24,Y,7,24,Y,35
13,11,92361105,West Bengal,HR 87,South 24 Parganas,URBAN,HR 87_URBAN_L,PSU_ID_6708,42917,Non-Response,...,Data Not Available,Data Not Available,Data Not Available,Data Not Available,-99,Data Not Available,-99,-99,Data Not Available,-99
15,11,37161775,West Bengal,HR 87,South 24 Parganas,URBAN,HR 87_URBAN_L,PSU_ID_6708,42917,Accepted,...,Good time,Concrete,Burnt brick,Y,24,Y,7,24,Y,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
634,11,40372059,West Bengal,HR 87,South 24 Parganas,URBAN,HR 87_URBAN_S,PSU_ID_6711,42948,Non-Response,...,Data Not Available,Data Not Available,Data Not Available,Data Not Available,-99,Data Not Available,-99,-99,Data Not Available,-99
643,11,25151331,West Bengal,HR 87,South 24 Parganas,URBAN,HR 87_URBAN_S,PSU_ID_6711,42948,Accepted,...,Same as other times,Concrete,Burnt brick,Y,24,Y,7,24,Y,27
648,11,32136454,West Bengal,HR 87,South 24 Parganas,URBAN,HR 87_URBAN_S,PSU_ID_6711,42948,Non-Response,...,Data Not Available,Data Not Available,Data Not Available,Data Not Available,-99,Data Not Available,-99,-99,Data Not Available,-99
774,11,83417542,West Bengal,HR 87,South 24 Parganas,RURAL,HR 87_RURAL_R,PSU_ID_10598,42887,Non-Response,...,Data Not Available,Data Not Available,Data Not Available,Data Not Available,-99,Data Not Available,-99,-99,Data Not Available,-99
788,11,11192599,West Bengal,HR 87,South 24 Parganas,RURAL,HR 87_RURAL_R,PSU_ID_10599,42887,Non-Response,...,Data Not Available,Data Not Available,Data Not Available,Data Not Available,-99,Data Not Available,-99,-99,Data Not Available,-99

In [24]:
df1.loc[~df1['HH_ID'].isin(df6['HH_ID'].tolist())]

,WAVE_NO,HH_ID,STATE,HR,DISTRICT,REGION_TYPE,STRATUM,PSU_ID,MONTH_SLOT,RESPONSE_STATUS,...,IS_THIS_GOOD_TIME_TO_BUY_CONSUMER_DURABLES,TYPE_OF_ROOF,TYPE_OF_WALL,HAS_ACCESS_TO_ELECTRICITY,POWER_AVAILABILITY_IN_HOURS_PER_DAY,HAS_ACCESS_TO_WATER_IN_HOUSE,WATER_AVAILABILITY_IN_DAYS_PER_WEEK,WATER_AVAILABILITY_IN_HOURS_PER_DAY,HAS_TOILET_IN_HOUSE,TIME_TO_TRAVEL_TEN_KMS
251,24,53125386,West Bengal,HR 87,South 24 Parganas,URBAN,HR 87_URBAN_L,PSU_ID_6708,44501,Non-Response,...,Data Not Available,Data Not Available,Data Not Available,Data Not Available,-99,Data Not Available,-99,-99,Data Not Available,-99
252,24,34939670,West Bengal,HR 87,South 24 Parganas,URBAN,HR 87_URBAN_L,PSU_ID_6708,44501,Accepted,...,Same as other times,"Galvanized iron, asbestos sheet",Burnt brick,Y,24,Y,7,24,Y,40
504,24,10863162,West Bengal,HR 87,South 24 Parganas,URBAN,HR 87_URBAN_S,PSU_ID_6711,44531,Non-Response,...,Data Not Available,Data Not Available,Data Not Available,Data Not Available,-99,Data Not Available,-99,-99,Data Not Available,-99
632,24,22169350,West Bengal,HR 87,South 24 Parganas,RURAL,HR 87_RURAL_R,PSU_ID_10598,44470,Non-Response,...,Data Not Available,Data Not Available,Data Not Available,Data Not Available,-99,Data Not Available,-99,-99,Data Not Available,-99

In [25]:
df6 = df6.drop(labels=df6.loc[~df6['HH_ID'].isin(df1['HH_ID'].tolist())].index)

In [26]:
df7 = df7.drop(labels=df7.loc[~df7['HH_ID'].isin(df1['HH_ID'].tolist())].index)

In [29]:
df1 = df1.drop(labels=df1.loc[~df1['HH_ID'].isin(df6['HH_ID'].tolist())].index)

In [30]:
df2 = df2.drop(labels=df2.loc[~df2['HH_ID'].isin(df6['HH_ID'].tolist())].index)

In [31]:
df3 = df3.drop(labels=df3.loc[~df3['HH_ID'].isin(df6['HH_ID'].tolist())].index)

In [32]:
df4 = df4.drop(labels=df4.loc[~df4['HH_ID'].isin(df6['HH_ID'].tolist())].index)

In [33]:
df5 = df5.drop(labels=df5.loc[~df5['HH_ID'].isin(df6['HH_ID'].tolist())].index)

In [27]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 756 entries, 0 to 911
Columns: 284 entries, WAVE_NO to TIME_TO_TRAVEL_TEN_KMS
dtypes: float64(6), int64(19), object(259)
memory usage: 1.6+ MB

In [28]:
df6.loc[~df6['HH_ID'].isin(df1['HH_ID'].tolist())]

Empty DataFrame
Columns: [WAVE_NO, HH_ID, STATE, HR, DISTRICT, REGION_TYPE, STRATUM, PSU_ID, MONTH_SLOT, RESPONSE_STATUS, REASON_FOR_NON_RESPONSE, FAMILY_SHIFTED, HH_WEIGHT_W, HH_WEIGHT_FOR_COUNTRY_W, HH_WEIGHT_FOR_STATE_W, HH_NON_RESPONSE_W, HH_NON_RESPONSE_FOR_COUNTRY_W, HH_NON_RESPONSE_FOR_STATE_W, AGE_GROUP, INCOME_GROUP, OCCUPATION_GROUP, EDUCATION_GROUP, GENDER_GROUP, WATER_GROUP, POWER_GROUP, TRAVEL_GROUP, SIZE_GROUP, HOUSES_OWNED, BOUGHT_HOUSE, WILL_BUY_HOUSE, WILL_BUY_HOUSE_NOW, GOOD_TIME_TO_BUY_HOUSE, REFRIGERATORS_OWNED, BOUGHT_REFRIGERATOR, WILL_BUY_REFRIGERATOR, WILL_BUY_REFRIGERATOR_NOW, GOOD_TIME_TO_BUY_REFRIGERATOR, AIR_CONDITIONERS_OWNED, BOUGHT_AIR_CONDITIONER, WILL_BUY_AIR_CONDITIONER, WILL_BUY_AIR_CONDITIONER_NOW, GOOD_TIME_TO_BUY_AIR_CONDITIONER, COOLERS_OWNED, BOUGHT_COOLER, WILL_BUY_COOLER, WILL_BUY_COOLER_NOW, GOOD_TIME_TO_BUY_COOLER, WASHING_MACHINES_OWNED, BOUGHT_WASHING_MACHINE, WILL_BUY_WASHING_MACHINE, WILL_BUY_WASHING_MACHINE_NOW, GOOD_TIME_TO_BUY_WASHING_MACHINE, TELEVISIONS_OWNED, BOUGHT_TELEVISION, WILL_BUY_TELEVISION, WILL_BUY_TELEVISION_NOW, GOOD_TIME_TO_BUY_TELEVISION, COMPUTERS_OWNED, BOUGHT_COMPUTER, WILL_BUY_COMPUTER, WILL_BUY_COMPUTER_NOW, GOOD_TIME_TO_BUY_COMPUTER, CARS_OWNED, BOUGHT_CAR, WILL_BUY_CAR, WILL_BUY_CAR_NOW, GOOD_TIME_TO_BUY_CAR, TWO_WHEELERS_OWNED, BOUGHT_TWO_WHEELER, WILL_BUY_TWO_WHEELER, WILL_BUY_TWO_WHEELER_NOW, GOOD_TIME_TO_BUY_TWO_WHEELER, GENSET_INVERTERS_OWNED, BOUGHT_GENSET_INVERTER, WILL_BUY_GENSET_INVERTER, WILL_BUY_GENSET_INVERTER_NOW, GOOD_TIME_TO_BUY_GENSET_INVERTER, TRACTORS_OWNED, BOUGHT_TRACTOR, WILL_BUY_TRACTOR, WILL_BUY_TRACTOR_NOW, GOOD_TIME_TO_BUY_TRACTOR, CATTLE_OWNED, BOUGHT_CATTLE, WILL_BUY_CATTLE, WILL_BUY_CATTLE_NOW, GOOD_TIME_TO_BUY_CATTLE, HAS_OUTSTANDING_SAVING_IN_FIXED_DEPOSITS, HAS_SAVED_IN_FIXED_DEPOSITS, WILL_SAVE_IN_FIXED_DEPOSITS, HAS_OUTSTANDING_SAVING_IN_POST_OFFICE_SAVINGS, HAS_SAVED_IN_POST_OFFICE_SAVINGS, WILL_SAVE_IN_POST_OFFICE_SAVINGS, HAS_OUTSTANDING_SAVING_IN_NSC_BONDS, HAS_SAVED_IN_NSC_BONDS, WILL_SAVE_IN_NSC_BONDS, HAS_OUTSTANDING_SAVING_IN_KVP, HAS_SAVED_IN_KVP, WILL_SAVE_IN_KVP, HAS_OUTSTANDING_SAVING_IN_PROVIDENT_FUND, ...]
Index: []

[0 rows x 284 columns]

In [35]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 756 entries, 0 to 759
Columns: 300 entries, WAVE_NO to TIME_TO_TRAVEL_TEN_KMS
dtypes: float64(6), int64(19), object(275)
memory usage: 1.7+ MB

df1.info()

In [34]:
df2.to_excel('2020-0501.xlsx')
df3.to_excel('2019-0101.xlsx')
df4.to_excel('2018-0901.xlsx')
df5.to_excel('2017-0901.xlsx')
df6.to_excel('2017-0501.xlsx')
df7.to_excel('2017-0101.xlsx')
df1.to_excel('2021-0901.xlsx')